body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
   }
.h1no1{
    white-space:nowrap;


}   
h2{
    font-size: 40px;
}
.third-page{
    width: 40%;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 5px;
    border-left: 7px solid blue;
    

    box-shadow: 10px 10px 50px gray;
}
.my-name{
    color: orangered;
}   
section{
    display: flex ;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 99%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-div{
    display: flex;
}

.experience-container{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack{
    border-left: 7px solid orangered ;
}
#baby-stack{
    border-left: 7px solid blue;
}
footer{
    text-align: center;

}
.para-of-third{
    width: 80%;
}